#colRow{
    margin-bottom: 45pt;
    margin-top: 35pt;
}

.card-title{
    text-align: center;
    padding-bottom: 10pt; 
}

#iconRow{
    box-shadow: 
        12px 0 15px -4px rgba(31, 73, 125, 0.8), 
        -12px 0 15px -4px rgba(31, 73, 125, 0.8);
    opacity: 0.8;
}

#iconFire{
    color: #cfe5fc;
    opacity: 0.7;
}

#iconWater{
    color: #cfe5fc;
    opacity: 0.7;
    padding-left: 10px;
}

#iconStorm{
    color: #cfe5fc;
    opacity: 0.7;
    padding-left: 55px;
}

