#chartCard{
    opacity: 0.9;
    
}

#chartDiv{
    position: relative;
    height: 280px;
    overflow: auto;
}

#chartTable{
    /* display: block; */
}

#addBtn{
    margin-left: 15pt;
    margin-bottom: 10pt;
    margin-top: 10pt;
}
