@font-face{
    font-family: "Mochi Font";
    src: url(../images/xenodemon.ttf) format("truetype");
}

@font-face{
    font-family: "Majoram Sans Italic";
    src: url(../images/MajoramSansItalic.otf) format("truetype");
}



.parallax {
    /* The image used */
    background-image: url("../images/camera.jpg");
    /* Set a specific height */
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#paraOne {
        /* The image used */
    background-image: url("../images/baby.jpg");
    /* Set a specific height */
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#paraTwo {
    background-image: url("../images/pug.jpg");
    /* Set a specific height */
    min-height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#indexBody {
    background: linear-gradient(
        to left, rgb(138, 187, 219), rgb(226, 241, 220) 25%, rgb(226, 241, 220)  75%, rgb(138, 187, 219) 100%
        );
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
    padding-bottom: 25px;
    box-shadow: 
        12px 0 15px -4px rgba(31, 73, 125, 0.8), 
        -12px 0 15px -4px rgba(31, 73, 125, 0.8);
}


#instructDiv{
    padding-top: 35pt;
    padding-bottom: 35pt;
    filter: drop-shadow();
}

#welcome {
    margin-top: 50px;
    text-align: center;
}

img{
    padding-top: 40px;
    padding-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


#landingImg {
    margin-right: 35px;
    height: auto;
    width: 30%;
}


input {
    cursor: pointer;
}

#loginRow {
    padding-top: 35pt;
    padding-bottom: 35pt;
    border-right: solid 1pt gray;
    border-left: solid 1pt gray;
    box-shadow: 
        12px 0 15px -4px rgba(31, 73, 125, 0.8), 
        -12px 0 15px -4px rgba(31, 73, 125, 0.8);
    /* opacity: 0.5; */
    /* filter: alpha(opacity=50); */
    margin-bottom: 50px;
    background: white;
}


#landingTitle {
    border-bottom: solid 1pt gray;
    margin-top: 50pt;
    padding-bottom: 50pt;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}


#landingRow {
    margin-top: 50px;
}


.fas {
    cursor: pointer;
}

#iconRow {
    margin-top: 25pt;
    margin-bottom: 25pt;
}